.navbar #img-logo {
  width: 30px;
  height: 30px;
  display: inline; }

.home-page .jumbotron {
  text-align: center; }

.home-logo {
  width: 200px; }

.main-content {
  margin-top: 50px; }

footer {
  font-size: 12px; }
